{% extends "AcmeHelloBundle:Default:basemap.html.twig"%}
{%block stylesheets%}
{% stylesheets '@AcmeHelloBundle/Resources/public/style.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock stylesheets%}
{% block container%}
<div id="map" style="width: 800px; height: 500px; border: solid 1px;" ></div>
<input type="hidden" id="lat" value="{{address.lat}}" />
<input type="hidden" id="lng" value="{{address.lng}}" />
<input type="hidden" id="addressname" value="{{name}}" />
{{name}}
{% endblock %}